/* Нормализация */
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

button,
input,
select {
  display: block;
  border: none;
  outline: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Подключение шрифтов */
/* Rubik 400, 500, 600 */
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("/sources/fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url("/sources/fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 600;
  src: url("/sources/fonts/Rubik/Rubik-SemiBold.ttf");
}

/* Общие стили */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  color: var(--text_color);
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

body * {
  color: inherit;
  font: var(--font_standart);
}

svg,
svg path {
  display: block;
}

.container {
  max-width: 1200px;
  padding: 0px 14px;
  margin: 0px auto;
}

ul.list,
ol.list,
ul.list li,
ol.list li {
  list-style: none;
}

.block {
  display: block;
}

/* Переменные */
:root {
  /* Цвета */
  --text_color: #333333;
  --text_light_color: #A5A5A5;
  --accent_color_1: #F36767;
  --accent_color_2: #669EF2;
  --additional_color: #EFEFEF;

  /* Шрифты */
  --font_standart: 400 16px/1.2 "Rubik", sans-serif;
  --font_form_heading: 500 32px/1.2 "Rubik", sans-serif;
  --font_standart_big: 400 18px/1.2 "Rubik", sans-serif;
  --font-price: 600 20px/1.2 "Rubik", sans-serif;

  /* Тени */
  --standart_light_shadow: 0px 0px 4px 0px #00000040;
  --focus_shadow_1: 0px 0px 12px 0px #F3676780;
  --focus_shadow_2: 0px 0px 8px 0px #669EF280;
}

/* Вёрстка */
/* Форма - Конструктор */
.form_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  border-radius: 16px;
  background: white;
  box-shadow: var(--standart_light_shadow);
  color: var(--text_light_color)
}

.form_wrapper .inner {
  position: relative;
  width: 100%;
  padding: 20px;
}

.form_wrapper .link_undo {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  cursor: pointer;
}

.form_wrapper .link_undo path.change {
  transition: all 0.3s linear;
}

.form_wrapper .link_undo:hover path.change {
  fill: var(--accent_color_1);
}

.form_wrapper .form_heading {
  text-align: center;
  color: #333333;
  font: var(--font_form_heading);
}

.form_wrapper .line {
  width: 100%;
  height: 1px;
  margin: 10px 0px;
  background: var(--additional_color);
}

.form_wrapper .radio_zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_wrapper .radio_zone .variant_1.active,
.form_wrapper .radio_zone .variant_2.active {
  color: var(--accent_color_1);
} 

.form_wrapper .switch {
  position: relative;
  justify-items: center;
  width: 57px;
  height: 24px;
  border-radius: 12px;
  display: block;
}

.form_wrapper .switch_input {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.form_wrapper .switch_slider {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 12px;
  background: var(--additional_color);
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}

.form_wrapper .switch_slider::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: var(--accent_color_1);
  transition: all 0.3s linear;
}

.form_wrapper .switch_slider:hover::after {
  box-shadow: var(--focus_shadow_1);
}

.form_wrapper .switch_input:checked + .switch_slider::after {
  transform: translateX(33px);
}

.form_wrapper .inputs {
  margin-bottom: 14px;
}

#form_registration.form_wrapper .inputs.vendor {
  display: none;
}

.form_wrapper .inputs input,
#products form#filter_main input,
#products form#filter_main select,
#product_order_form select {
  display: block;
  width: 100%;
  height: 38px;
  margin-bottom: 14px;
  border-radius: 4px;
  background: var(--additional_color);
  text-align: center;
  color: var(--text_color);
}

.form_wrapper .inputs {
  margin-top: 20px;
}

.form_wrapper .inputs .double {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.form_wrapper .inputs .double input {
  width: 169px;
  margin: 0px;
}

.form_wrapper .inputs input::placeholder {
  color: var(--text_light_color);
}

.form_wrapper button.submit,
button.submit {
  display: block;
  width: 100%;
  height: 38px;
  margin: 14px 0px 10px;
  border-radius: 4px;
  background: var(--accent_color_1);
  transition: box-shadow 0.3s linear;
  color: white;
  font: var(--font_standart);
}

.form_wrapper a.button_link,
a.button_link {
  display: inline-block;
  width: 100%;
  padding: 10px 0px 9px;
  margin: 14px 0px 10px;
  border-radius: 4px;
  background: var(--accent_color_1);
  transition: box-shadow 0.3s linear;
  text-align: center;
  color: white;
  font: var(--font_standart);
}

.form_wrapper button.submit:hover,
.form_wrapper a.button_link:hover {
  box-shadow: var(--focus_shadow_1);
}

.form_wrapper .text_link {
  display: block;
  margin: 5px 0px;
  text-align: center;
  transition: color 0.3s linear;
}

.form_wrapper .text_link:hover {
  text-decoration: underline;
  color: var(--accent_color_1);
}

.form_wrapper .text {
  margin: 10px 0px;
  text-align: center;
  font: var(--font_standart_big);
}

/* header */
#header a.logo {
  display: inline-block;
  padding: 25px 0px 0px 45px;
}

#header .wrapper .left a.logo img {
  display: block;
}

#main .modal_wrapper {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 98;
}

#header .wrapper,
#footer .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 45px;
  border-radius: 0px 0px 12px 12px;
  align-items: center;
  box-shadow: var(--standart_light_shadow);
}

#header .wrapper {
  max-height: 70px;
}

#header .wrapper .left a.logo {
  padding: 0px;
}

#header .wrapper .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font: var(--font_standart_big);
}

#header .wrapper .right a {
  transition: color 0.3s linear;
}

#header .wrapper .right a:hover {
  color: var(--accent_color_1);
  text-decoration: underline;
}

#header .wrapper .right .line {
  width: 1px;
  height: 20px;
  background: var(--accent_color_1);
}

#header .wrapper .right .icon {
  height: 20px;
}

#footer .wrapper {
  border-radius: 12px 12px 0px 0px;
}

#footer .wrapper .left h3.contacts_heading {
  font: var(--font_standart_big);
  font-weight: 500;
}

#footer .wrapper .right .socials,
#footer .wrapper .left .list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

#footer .wrapper .right .socials svg {
  transition: transform 0.3s linear;
}

#footer .wrapper .right .socials svg:hover {
  transform: scale(1.05);
}

#footer .wrapper .left li {
  gap: 5px;
  margin: 4px 0px;
}

#products form#filter_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: var(--standart_light_shadow);
}

#products form#filter_main .left,
#products form#filter_main .left > div {
  display: flex;
  align-items: center;
  gap: 14px;
} 

#products form#filter_main .right .submit {
  width: 166px;
  margin: 0px;
  transition: box-shadow 0.3s linear;
}

#products form#filter_main .right .submit:hover {
  box-shadow: var(--focus_shadow_1);
}

#products form#filter_main .left > div {
  gap: 5px;
}

#products form#filter_main select,
#products form#filter_main input {
  padding-left: 10px;
  margin: 0px;
  text-align: left;
  color: var(--text_light_color);
}

#products form#filter_main input::placeholder {
  color: var(--text_light_color);
}

#products form#filter_main .left select {
  width: 166px;
}

#products form#filter_main .left select:nth-child(2) {
  width: 208px;
}

#products form#filter_main .left > div input {
  width: 80px;
}

#products form#filter_main .left .line {
  min-width: 16px;
  height: 2px;
  border-radius: 1px;
  background: var(--text_light_color);
}

#products #all_cards {
  margin-top: 25px;
}

#products #all_cards .inner {
  display: flex;
  justify-content: left;
  gap: 23px;
  flex-wrap: wrap;
}

#products .card {
  max-width: 216px;
  margin-bottom: 50px;
}

#products .card .image {
  width: 216px;
  min-height: 216px;
  border-radius: 12px;
  box-shadow: var(--standart_light_shadow);
}

#products .card a.button_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-height: 38px;
  margin: 0px;
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}

#products .card a.button_link:hover {
  box-shadow: var(--focus_shadow_1);
}

#products .card a.button_link .icon {
  position: relative;
  bottom: 1px;
}

#products .card .description {
  margin: 8px 0px 4px;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#products .card .double {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

#products .card .double .price {
  display: flex;
  align-items: center;
  gap: 5px;
}

#products .card .double .price .text {
  color: var(--accent_color_1);
  font: var(--font-price);
}

#products .card .double .rating,
#products .card .double .rating .icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

#products .card .double .rating .icon {
  position: relative;
  bottom: 1px;
  gap: 0.17px;
}

.modal {
  z-index: 99;
}

#product_order_form {
  display: none;
}

#product_order_form .inner select {
  color: var(--text_light_color);
  padding-left: 10px;
  text-align: left;
}

#product_order_form .inner input {
  padding-left: 10px;
  text-align: left;
}

#product_order_form .inner .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 0px 6px;
}

#product_order_form .inner .line {
  height: 2px;
  margin: 0px 0px 14px;
}

#product_order_form .inner .text {
  font-size: 16px;
  text-align: left;
}

#product_order_form .next_fetch {
  display: none;
}

#product_order_form .paths {
  max-height: 123px;
  margin-bottom: 10px;
  border-radius: 6px;
  background: var(--additional_color);
  overflow-y: auto;
}

#product_order_form .paths::-webkit-scrollbar {
  width: 3px;
}

#product_order_form .paths::-webkit-scrollbar-track {
  border-radius: 1.5px;
  background: #D9D9D9;
}

#product_order_form .paths::-webkit-scrollbar-thumb {
  background-color: var(--accent_color_1);
  border-radius: 1.5px;
}

#product_order_form .paths .inner {
  padding: 10px;
}

#product_order_form .paths .inner .path {
  display: flex;
  align-items: center;
  gap: 5px;
}

#product_order_form .paths .inner .path .text {
  margin: 0px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#product_order_form .paths .inner .line {
  width: 2px;
  height: 8px;
  margin: 1px 3px;
  border-radius: 1px;
  background: var(--text_light_color);
}

#product_order_form .result .double,
#product_order_form .result .double .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

#product_order_form .result .double .right .price {
  color: var(--accent_color_1);
  font: var(--font-price);
}

#product_order_form .result .line {
  margin: 10px 0px;
}

#product_order_form button.submit.disable {
  background: var(--text_light_color);
  cursor: default;
}

#product_order_form button.submit.disable:hover {
  box-shadow: none;
}

#header .wrapper .link_profile img {
  border-radius: 4px;
  box-shadow: var(--standart_light_shadow);
}

#header .wrapper .exit_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 38px;
  background: var(--accent_color_2);
  color: var(--additional_color);
  border-radius: 6px;
}

#header .wrapper .exit_submit .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}